.dashboard-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding:20px;
  display: flex;
  flex-direction: column;

  .card-title {
    font-weight: bold;
  }

  .dashboard-card-content{
    flex: 1 1;
  }
}


.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;
}
