.layout {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  background-color: #f2f4f5;
}

.dashboard-wrapper {
  padding: 10px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .row-1 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 24px;

    .cell-1 {
      flex: 1;
      height: inherit;
    }

    .cell-2 {
      flex: 1;
    }

    .cell-3 {
      flex: 1;
    }

    .cell-4 {
      flex: 1;
    }
  }
  .row-2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;

    .cell-1 {
      flex: 1;
    }

    .cell-2 {
      flex: 1;
    }
  }

  .date-picker-wrapper {
    width: 20%;
    .date-picker {
      text-align: start;
      padding-top: 10px;
    }
  }
}
