<div class="dashboard-wrapper">
    <h1>Executive Dashboard</h1>
    <div class="date-picker-wrapper"><app-card [title]="'Date Range'">
            <div class="date-picker">
                <mat-form-field>
                    <!-- <mat-label>Enter a date range</mat-label> -->
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date" (dateChange)="dateRangeChangeHandler()">
                    </mat-date-range-input>
                    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </app-card></div>
    <div class="row-1">
        <div class="cell-1">
            <app-card [title]="'New Wins'"><app-numerical-widget [value]="wins.value"
                    [calculatedRate]="wins.calculatedRate" [analysis]="wins.analysis">
                </app-numerical-widget></app-card>
        </div>
        <div class="cell-2">
            <app-card [title]="'Trial Win Rate'"><app-numerical-widget [value]="winRate.value"
                    [calculatedRate]="winRate.calculatedRate" [analysis]="winRate.analysis" suffix="%">
                </app-numerical-widget></app-card>
        </div>
        <div class="cell-3">
            <app-card [title]="'MRR'"><app-numerical-widget [value]="mrr.value" [calculatedRate]="mrr.calculatedRate"
                    [analysis]="mrr.analysis" prefix="$">
                </app-numerical-widget></app-card>
        </div>
        <div class="cell-4">
            <app-card [title]="'Page Views'">
                <app-doughnut-chart [datasets]="doughnutChartDataset"></app-doughnut-chart>
            </app-card>
        </div>
    </div>
    <div class="row-2">
        <div class="cell-1">
            <app-card [title]="'MRR Stats by Country'">
                <app-bubble-chart [datasets]="bubbleChartDataset"></app-bubble-chart>
            </app-card>
        </div>
        <div class="cell-2">
            <app-card [title]="'MTR'">
                <app-bar-chart [datasets]="barChartDataset"></app-bar-chart>
            </app-card>
        </div>
    </div>
</div>